.select2 .select2-container, .select2-container--default, .select2-selection, .select2-selection--single{
    height: 100% !important;
}

.select2 .select2-selection__placeholder{
    vertical-align: middle !important;
}

#tabla_modulos .inactivo td{
    background-color: #fcbaae;
}